:root {
  --font: "Mont", sans-serif;
  --primary-color: #F5D009;
  --text-color: #000000;
  --text-grey-color: #B1B1B1;
  --white-color: #FFFFFF;
  --white-two-color: #FAFAFA;
  --white-three-color: #F3F3F3;
  --grey-color: #CECECE;
  --grey-two-color: #D2D2D2;
  --sroke-card-color: #D8D8D8;
  --coffee-color: #EFCCB9;
  --tea-color: #C9EA94;
  --milk-color: #F9ECD2;
  --danger-color: #F03B3B;
  --warning-color: #F58809;
  --drink-color: #FFE665;
  background: black;
}

body {
  font-family: "Mont", sans-serif;
  margin: 0;
  width: 540px;
  height: 960px;
  background: var(--white-color);
  color: var(--text-color);
}
